@import 'reveal.css'
@import 'default.css'
@import 'zenburn.css'

h1, h2, h2
  text-transform: none !important

img
  border: none !important
  background: none !important
  box-shadow: none !important

.white
  background: #FFF !important
  padding: 20px !important
